## OR4 Coadd Metric Viewer

Displays metrics associated with deepCoadds as a series of tables. Metrics that deviate from the column mean by more than 3 standard deviations are highlighted in red.

Bear in mind highlighting assumes a gaussian-ish distribution, meaning that some outlier values may not be highlighted (and vice versa).

Columns named after a band show the number of exposures of that band that have gone into making the coadd (so, "200" under "g" for tract row "500" means that that 200 g-band exposures have gone into creating all the coadds that cover tract 500).

In [1]:
day_obs = '20240625'
repo = 'embargo_or4'
collection = 'LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z'

In [2]:
import lsst.daf.butler as dafButler

import operator
import numpy as np
import pandas as pd
from scipy.stats import zscore

from IPython.display import display, HTML
display(HTML("<style>.jp-OutputArea-child {overflow: scroll}</style>"))

In [3]:
instrUrl = 'LATISS'
collectionUrl = 'AUXTEL_DRP_IMAGING_20230509_20240201/w_2024_05/PREOPS-4871'
plotNavUrl = 'https://usdf-rsp-dev.slac.stanford.edu/plot-navigator'

In [4]:
urlDict = {'numBlends':'blendPlots', 'meanBlendIterations':'blendPlots', 'meanBlendLogL':'blendPlots'}
threshDict = {'numBlends':50, 'meanBlendIterations':25, 'meanBlendLogL':-1e5}
threshTypeDict = {'numBlends':'lt', 'meanBlendIterations':'ge', 'meanBlendLogL':'lt'}

In [5]:
def metricBundletToDataFrame(bundleName, refs):
    data = []
    for ref in refs:
        metrics = butler.get(ref)
        row = {'Tract':ref.dataId['tract']}
        for metric in metrics[bundleName]:
            key = '{} {}'.format(metric.metric_name.metric, metric.quantity.unit.to_string())
            value = metric.quantity.value
            row[key] = value
        data.append(row)
    
    df = pd.DataFrame(data)
    df.set_index('Tract', inplace=True)
    return df

def build_urls(s, names=None):
    # Build URLs if column has an associated Plot Navigator page.
    colName = s.name.split()[0]
    if colName not in urlDict:
        return np.array(['-' if np.isnan(v) else f'{v:.2f}' for v in s.values])
    else:
        urlVal = urlDict[colName]
        return [f'<a href="{plotNavUrl}/tract/{index}/{instrUrl}/{collectionUrl}/{urlDict[colName]}">{val:.2f}</a>' for index, val in zip(s.index.values, s.values)]

def flagCells(s):
    colName = s.name.split()[0]
    if colName not in threshDict:
        return np.array(["" for x in s])
    else:
        mask = getattr(operator, threshTypeDict[colName])(s.values, threshDict[colName])
        return np.where(mask, "background-color: red","")

def displayTable(tractTable, metricTable):
    merged = pd.merge(tractTable, metricTable, on='Tract')
    style_df = merged.apply(flagCells, axis=0)
    urls = merged.apply(build_urls, axis=0)
    flagged = urls.style.apply(lambda x: style_df, axis=None)
    with pd.option_context('display.max_rows', 100, 'display.max_columns', 50):
        display(flagged)

In [6]:
butler = dafButler.Butler(repo, collections=collection)
registry = butler.registry

In [7]:
visits = list(registry.queryDimensionRecords('visit', where='day_obs in ({})'.format(day_obs)))
visitIds = [visit.id for visit in visits]
minId, maxId = np.min(visitIds), np.max(visitIds)

coaddRefs = list(registry.queryDatasets('deepCoadd_calexp', where='visit in ({}..{})'.format(minId, maxId)))
data = []
for coaddRef in coaddRefs:
    data.append({'Tract':coaddRef.dataId['tract'], 'Band':coaddRef.dataId['band']})
tractTable = pd.DataFrame(data)
tractTable = tractTable.groupby(tractTable.columns.tolist(),as_index=False).size()
tractTable = tractTable.pivot(index='Tract', columns='Band', values='size')

## Object Table Core Metrics:

In [8]:
refs = list(registry.queryDatasets('objectTableCore_metrics'))

### Blend Metrics

In [9]:
#BlendLogL: Log likelihood of the entire blend in scarlet_lite.
bundleName = 'blendMetrics'
metricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### E1Diff Metrics

In [10]:
# Ellipticity Residuals (e1 - e1_psf) per tract per band
# highSNStars are SNR > 2700, lowSNStars are SNR > 500
# _count is number of stars in each SNR bin. 
bundleName = 'e1Diff'
metricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### E2 Diff Metrics

In [11]:
bundleName = 'e2Diff'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### Isolated Deblender Metrics

In [12]:
bundleName = 'isolatedDeblenderMetrics'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### Parent Deblender Metrics

In [13]:
bundleName = 'parentDeblenderMetrics'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### PSF CModel Scatter Metrics

In [14]:
bundleName = 'psfCModelScatter'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### Shape Size Fractional Diff Metrics

In [15]:
bundleName = 'shapeSizeFractionalDiff'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### Skipped Deblender Metrics

In [16]:
bundleName = 'skippedDeblenderMetrics'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### Sky Flux Statistic Metrics

In [17]:
bundleName = 'skyFluxStatisticMetric'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### wPerp Cmodel Metrics

In [ ]:
bundleName = 'wPerpCModel'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### wPerp PSFP Metrics

In [ ]:
bundleName = 'wPerpPSFP'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### xPerpCModel Metrics

In [ ]:
bundleName = 'xPerpCModel'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

### xPerpPSFP Metrics

In [ ]:
bundleName = 'xPerpPSFP'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)

## Object Table Extended Metrics

In [ ]:
refs = list(registry.queryDatasets('objectTableExtended_metrics'))

### Ap12PSFSky Metrics

In [ ]:
bundleName = 'ap12PsfSky'
etricTable = metricBundletToDataFrame(bundleName, refs)
displayTable(tractTable, metricTable)