## OR4 Coadd Metric Viewer

Displays metrics associated with deepCoadds as a series of tables. Metrics that deviate from the column mean by more than 3 standard deviations are highlighted in red.

Bear in mind highlighting assumes a gaussian-ish distribution, meaning that some outlier values may not be highlighted (and vice versa).

Columns named after a band show the number of exposures of that band that have gone into making the coadd (so, "200" under "g" for tract row "500" means that that 200 g-band exposures have gone into creating all the coadds that cover tract 500).

In [1]:
day_obs = '20240625'
repo = 'embargo_or4'
collection = 'LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966'

In [2]:
import lsst.daf.butler as dafButler

import numpy as np
import pandas as pd
from scipy.stats import zscore

from IPython.display import display, HTML
display(HTML("<style>.jp-OutputArea-child {overflow: scroll}</style>"))

In [3]:
def metricBundletToDataFrame(bundleName, refs):
    data = []
    for ref in refs:
        metrics = butler.get(ref)
        row = {'Tract':ref.dataId['tract']}
        for metric in metrics[bundleName]:
            key = '{} {}'.format(metric.metric_name.metric, metric.quantity.unit.to_string())
            value = metric.quantity.value
            row[key] = value
        data.append(row)
    
    df = pd.DataFrame(data)
    sigma = pd.DataFrame(abs(zscore(df, axis=0, nan_policy='omit')), columns=df.columns)
    sigma['Tract'] = df['Tract']
    return (df, sigma)

def displayMaskedTable(tractTable, tractMask, metricTable, metricMask):
    tractMetricTable = pd.merge(tractTable, metricTable, on="Tract")
    tractMetricMask = pd.merge(tractMask, metricMask, on="Tract")
    tractMetricMask['Tract'] = False
    
    style_df = tractMetricMask.map(lambda x: "background-color: red" if x>3 else 
                                   ("background-color: orange" if x>2 else ""))
    with pd.option_context('display.max_rows', 100, 'display.max_columns', 50):
        display(tractMetricTable.style.apply(lambda x: style_df, axis=None))

In [4]:
butler = dafButler.Butler(repo, collections=collection)
registry = butler.registry

In [5]:
visits = list(registry.queryDimensionRecords('visit', where='day_obs in ({})'.format(day_obs)))
visitIds = [visit.id for visit in visits]
minId, maxId = np.min(visitIds), np.max(visitIds)

coaddRefs = list(registry.queryDatasets('deepCoadd_calexp', where='visit in ({}..{})'.format(minId, maxId)))
data = []
for coaddRef in coaddRefs:
    data.append({'Tract':coaddRef.dataId['tract'], 'Band':coaddRef.dataId['band']})
tractTable = pd.DataFrame(data)
tractTable = tractTable.groupby(tractTable.columns.tolist(),as_index=False).size()
tractTable = tractTable.pivot(index='Tract', columns='Band', values='size')
tractMask = tractTable.copy()
for col in tractMask.columns:
    if col != 'Tract':
        tractMask[col].values[:] = 0
tractMask = tractMask.astype(bool)

## Object Table Core Metrics:

In [6]:
refs = list(registry.queryDatasets('objectTableCore_metrics'))
refs

[DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 9880}, run='LSSTComCamSim/runs/nightlyValidation/test1a/d_2024_06_21/DM-44966/20240625T202549Z', id=41f9eb7d-5dfe-4f8a-8c7f-f0b6fc71a9ac),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 9638}, run='LSSTComCamSim/runs/nightlyValidation/test1a/d_2024_06_21/DM-44966/20240625T202549Z', id=b04a2326-963f-4980-a43b-fe60ab9e9ca2),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 2876}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=90ebce90-0d8e-485a-9bdc-56f7f545145f),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 6568}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=beb7e9d1-8e35-4c9f-9b36-85ff9da0c79e),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 2704}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=954be362-dd30-4b8b-91ae-8be0de89e219),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 2662}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=dda6e0fb-8b27-411d-9545-d7767ec43641),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 6337}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=5b1d459a-1e23-4474-8f6c-e5ff24537e45),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 9880}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=812815d5-f9ab-4006-ba83-d83bb0e165cf),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 3345}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=47be809d-e931-4318-a014-35039cade1e8),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 7446}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=b79a6549-fe50-408d-bd34-f77fc0c1a1e7),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 3384}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=bbe2ac2f-f2ce-4eeb-80d4-b9dce338ef60),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 3346}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=72bf431b-c861-42cc-9c24-c058c2415215),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 7683}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=22010b39-e56c-4cf5-b44b-75657507894e),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 6338}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=b1e51fa5-4a42-4af1-930f-4ef1e57acdec),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 3534}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=0a901e51-e773-4844-adf2-268bc8106631),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 2703}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=620b7cb3-6306-4aa7-8537-a9569f9e8ea1),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 3533}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=0da75d90-1aec-40e8-b47a-f016dfaa1f12),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 2877}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=3817aaad-4ab8-44dd-9637-1a1285c98aaf),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 3385}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=db55aacc-f9e7-4702-bedb-200559680123),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 2661}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=c98a5439-d39c-4cb0-a2ad-93c203da5f32),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 9637}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=4a249e2e-2bb2-4c70-823d-98f20b14291d),
 DatasetRef(DatasetType('objectTableCore_metrics', {skymap, tract}, MetricMeasurementBundle), {skymap: 'ops_rehersal_prep_2k_v1', tract: 6567}, run='LSSTComCamSim/runs/nightlyValidation/20240625/w_2024_25/DM-44966/20240626T155223Z', id=2076eab7-d703-4bf9-a2dd-0b9b248e1ffa)]

### Blend Metrics

In [7]:
#BlendLogL: Log likelihood of the entire blend in scarlet_lite.
bundleName = 'blendMetrics'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### E1Diff Metrics

In [8]:
# Ellipticity Residuals (e1 - e1_psf) per tract per band
# highSNStars are SNR > 2700, lowSNStars are SNR > 500
# _count is number of stars in each SNR bin 
bundleName = 'e1Diff'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### E2 Diff Metrics

In [9]:
bundleName = 'e2Diff'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### Isolated Deblender Metrics

In [10]:
bundleName = 'isolatedDeblenderMetrics'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### Parent Deblender Metrics

In [11]:
bundleName = 'parentDeblenderMetrics'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### PSF CModel Scatter Metrics

In [12]:
bundleName = 'psfCModelScatter'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### Shape Size Fractional Diff Metrics

In [13]:
bundleName = 'shapeSizeFractionalDiff'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### Skipped Deblender Metrics

In [14]:
bundleName = 'skippedDeblenderMetrics'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### Sky Flux Statistic Metrics

In [15]:
bundleName = 'skyFluxStatisticMetric'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### wPerp Cmodel Metrics

In [16]:
bundleName = 'wPerpCModel'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### wPerp PSFP Metrics

In [17]:
bundleName = 'wPerpPSFP'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### xPerpCModel Metrics

In [18]:
bundleName = 'xPerpCModel'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### xPerpPSFP Metrics

In [19]:
bundleName = 'xPerpPSFP'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

## Object Table Extended Metrics

In [20]:
refs = list(registry.queryDatasets('objectTableExtended_metrics'))

### Ap12PSFSky Metrics

In [21]:
bundleName = 'ap12PsfSky'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)