## OR4 Coadd Metric Viewer

Displays metrics associated with deepCoadds as a series of tables. Metrics that deviate from the column mean by more than 3 standard deviations are highlighted in red.

Bear in mind highlighting assumes a gaussian-ish distribution, meaning that some outlier values may not be highlighted (and vice versa).

Columns named after a band show the number of exposures of that band that have gone into making the coadd (so, "200" under "g" for tract row "500" means that that 200 g-band exposures have gone into creating all the coadds that cover tract 500).

In [1]:
day_obs = '20240401'
repo = '/repo/ops-rehearsal-3-prep'
collections = 'u/homer/w_2024_12/DM-43439'

In [2]:
import lsst.daf.butler as dafButler

import numpy as np
import pandas as pd
from scipy.stats import zscore

In [3]:
def metricBundletToDataFrame(bundleName, refs):
    data = []
    for ref in refs:
        metrics = butler.get(ref)
        row = {'Tract':ref.dataId['tract']}
        for metric in metrics[bundleName]:
            key = '{} {}'.format(metric.metric_name.metric, metric.quantity.unit.to_string())
            value = metric.quantity.value
            row[key] = value
        data.append(row)
    
    df = pd.DataFrame(data)
    mask = pd.DataFrame(abs(zscore(df, axis=0, nan_policy='omit')) > 3, columns=df.columns)
    mask['Tract'] = df['Tract']
    return (df, mask)

def displayMaskedTable(tractTable, tractMask, metricTable, metricMask):
    tractMetricTable = pd.merge(tractTable, metricTable, on="Tract")
    tractMetricMask = pd.merge(tractMask, metricMask, on="Tract")
    tractMetricMask['Tract'] = False

    style_df = tractMetricMask.map(lambda x: "background-color: red" if x else "")
    with pd.option_context('display.max_rows', 100, 'display.max_columns', 50):
        display(tractMetricTable.style.apply(lambda x: style_df, axis=None))

In [4]:
butler = dafButler.Butler(repo, collections=collections)
registry = butler.registry

In [5]:
visits = list(registry.queryDimensionRecords('visit', where='day_obs in ({})'.format(day_obs)))
visitIds = [visit.id for visit in visits]
minId, maxId = np.min(visitIds), np.max(visitIds)

coaddRefs = list(registry.queryDatasets('deepCoadd_calexp', where='visit in ({}..{})'.format(minId, maxId)))
data = []
for coaddRef in coaddRefs:
    data.append({'Tract':coaddRef.dataId['tract'], 'Band':coaddRef.dataId['band']})
tractTable = pd.DataFrame(data)
tractTable = tractTable.groupby(tractTable.columns.tolist(),as_index=False).size()
tractTable = tractTable.pivot(index='Tract', columns='Band', values='size')
tractMask = tractTable.copy()
for col in tractMask.columns:
    if col != 'Tract':
        tractMask[col].values[:] = 0
tractMask = tractMask.astype(bool)

## Object Table Core Metrics:

In [6]:
refs = list(registry.queryDatasets('objectTableCore_metrics'))

### Blend Metrics

In [7]:
#BlendLogL: Log likelihood of the entire blend in scarlet_lite.
bundleName = 'blendMetrics'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### E1Diff Metrics

In [8]:
# Ellipticity Residuals (e1 - e1_psf) per tract per band
# highSNStars are SNR > 2700, lowSNStars are SNR > 500
# _count is number of stars in each SNR bin 
bundleName = 'e1Diff'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### E2 Diff Metrics

In [9]:
bundleName = 'e2Diff'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### Isolated Deblender Metrics

In [10]:
bundleName = 'isolatedDeblenderMetrics'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### Parent Deblender Metrics

In [11]:
bundleName = 'parentDeblenderMetrics'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### PSF CModel Scatter Metrics

In [12]:
bundleName = 'psfCModelScatter'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### Shape Size Fractional Diff Metrics

In [13]:
bundleName = 'shapeSizeFractionalDiff'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### Skipped Deblender Metrics

In [14]:
bundleName = 'skippedDeblenderMetrics'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### Sky Flux Statistic Metrics

In [15]:
bundleName = 'skyFluxStatisticMetric'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### wPerp Cmodel Metrics

In [16]:
bundleName = 'wPerpCModel'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### wPerp PSFP Metrics

In [17]:
bundleName = 'wPerpPSFP'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### xPerpCModel Metrics

In [18]:
bundleName = 'xPerpCModel'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

### xPerpPSFP Metrics

In [19]:
bundleName = 'xPerpPSFP'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)

## Object Table Extended Metrics

In [20]:
refs = list(registry.queryDatasets('objectTableExtended_metrics'))

### Ap12PSFSky Metrics

In [21]:
bundleName = 'ap12PsfSky'
metricTable, metricMask = metricBundletToDataFrame(bundleName, refs)
displayMaskedTable(tractTable, tractMask, metricTable, metricMask)